img{
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated;                 
    image-rendering: optimize-contrast; 
}

#interface_img{
    width: 45%;
    height: 45%;
    position: relative;
    display: block;
    margin: auto;
}

.img_relativa{
    position: relative;
    display: flex;
    float: right;
    height: auto;
    width: 7%;
}

div{
    border: 5px solid black;
    padding: 1%;
}